<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}<!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-sm bg-white navbar-white">
    <!-- Brand -->
    <div class="col-lg-4">
    <a class="navbar-brand" href="/"  style="padding-left: 50px;">
      <img src="../../../static/img/logoG.png" width="45px" height="40px">
      <img src="../../../static/img/logoG.png" width="45px" height="40px">
    </a>
  </div>
    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Dropdown -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          분리배출요령
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="paper">종이류, 종이팩</a>
          <a class="dropdown-item" href="can">금속캔, 고철</a>
          <a class="dropdown-item" href="glass">유리병류</a>
          <a class="dropdown-item" href="plastic">플라스틱 용기류</a>
          <a class="dropdown-item" href="vinyl">비닐류</a>
          <a class="dropdown-item" href="styrofoam">스티로폼(발포합성수지)</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search" style="padding-left: 50px;">품목 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="padding-left: 50px;">Q & A</a>
      </li>
    </ul>
  </nav>
    <br><br><br><br>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 수정</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}

        <!-- 오류표시 -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

{% endblock %}
</body>
</html>