<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RECYCLE</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../static/vendor/bootstrap/css/style.css" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../static/css/landing-page.min.css" rel="stylesheet">

</head>
<script type='text/javascript'>
        $(document).ready(function() {
            $("#btn_search).on('click', function() {
                $("#kw").val($(".kw").val());
                $("#searchForm").submit();
            });
        });
</script>
<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-sm bg-white navbar-white">
    <!-- Brand -->
    <div class="col-lg-4">
        <a class="navbar-brand" href="/" style="padding-left: 50px;">
            <img src="../../static/img/logoG.png" width="45px" height="40px">
            <img src="../../static/img/logoG.png" width="45px" height="40px">
        </a>
    </div>
    <!-- Links -->
    <ul class="navbar-nav">
        <!-- Dropdown -->

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                분리배출요령
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="paper">종이류, 종이팩</a>
                <a class="dropdown-item" href="can">금속캔, 고철</a>
                <a class="dropdown-item" href="glass">유리병류</a>
                <a class="dropdown-item" href="plastic">플라스틱 용기류</a>
                <a class="dropdown-item" href="vinyl">비닐류</a>
                <a class="dropdown-item" href="styrofoam">스티로폼(발포합성수지)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="search" style="padding-left: 50px;">품목 검색</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding-left: 50px;">Q & A</a>
        </li>
    </ul>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">올바른 분리배출</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form method="GET" action="/recycle/list?kw={{ kw or '' }}&page={{ page_num }}">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control form-control-lg" value="{{ kw or ''}}"
                                   placeholder="폐기물 이름 검색">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-lg btn-primary" id="btn_search"><i
                                    class="	fas fa-search"></i></button>
                            <button type="submit" class="btn btn-lg btn-primary"><i class="fas fa-camera"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form id="searchForm" method="get" action="{{ url_for('recycle._list') }}">
        <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    </form>
</header>
<br><br><br>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="block">
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=종이&page=1">종이류</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=고철&page=1">금속캔</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=종이팩&page=1">종이팩</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=고철&page=1">고철</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=유리&page=1">유리병류</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=플라스틱&page=1">플라스틱 용기류</a>
            </div>
        </div>
        <div class="block">
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=비닐&page=1">비닐류</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=스티로폼&page=1">스티로폼</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=의류&page=1">의류 및 원단류</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=폐가전제품&page=1">폐가전제품</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=대형&page=1">대형 폐기물</a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=음식물&page=1">음식물 쓰레기</a></div>
        </div>
        <div class="block">
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=불연성&page=1">불연성 종량제 </a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=종량제봉투&page=1">종량제봉투 </a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=전용함&page=1">전용함 </a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=전문시설&page=1">전문시설 </a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=주의&page=1">주의 </a></div>
            <div class="r"><a class="nav-link" href="http://localhost:5000/recycle/list?kw=재질&page=1">재질별 분리 </a></div>
        </div>
    </div>
</section>
<br><br><br>
<!-- Bootstrap core JavaScript -->
<script src="../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>